{{ define "html" }}
<!-- Begin 大屏 -->
<header class="content__title hidden-sm-down">
    <h1>我的桌面</h1>
    <div class="actions">
        <a href="javascript:void(0);" class="actions__item zmdi zmdi-view-comfy"></a>
    </div>
</header>
<div class="card hidden-sm-down">
    <table class="table mb-0 table-hover">
        <thead class="thead-default">
            <tr>
                <th>文件名</th>
                <th>创建者</th>
                <th>更新时间</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range $key, $resource := .resources }}
            <tr>
                <td style="cursor:pointer;" onclick="document.location.href='/document/{{ $resource.Document.Key }}';"><a href="/document/{{ $resource.Document.Key }}">{{ $resource.Document.Filename }}</a></td>
                <td>{{ $resource.Document.User.UserDetail.Nickname }}</td>
                <td>{{ $resource.Document.UpdatedAt.Format "2006-01-02 15:04:05" }}</td>
                <td>
                    <div class="dropdown actions__item">
                        <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0);" data-documentkey="{{ $resource.Document.Key }}" class="dropdown-item">分享</a>
                            <a href="javascript:void(0);" data-documentkey="{{ $resource.Document.Key }}" class="dropdown-item">删除</a>
                        </div>
                    </div>
                </td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="4">
                    <a href="/document/new" class="btn btn-danger btn-block btn-lg">赶快创建一个表格吧</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
<!-- End 大屏 -->
<!-- Begin 小屏 -->
<div class="card hidden-md-up">
    <div class="card-header">
        <h2 class="card-title">我的桌面</h2>
    </div>

    <div class="listview listview--bordered">
        {{ range $key, $resource := .resources }}
        <div class="listview__item">
            <div class="listview__content" style="cursor:pointer;" onclick="document.location.href='/document/{{ $resource.Document.Key }}';">
                <div class="listview__heading">
                    <a href="/document/{{ $resource.Document.Key }}">{{ $resource.Document.Filename }}</a>
                </div>
                <p>{{ $resource.Document.UpdatedAt.Format "2006-01-02 15:04:05" }}</p>
            </div>
            <div class="actions listview__actions">
                <div class="dropdown actions__item">
                    <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" data-documentkey="{{ $resource.Document.Key }}" class="dropdown-item">分享</a>
                        <a href="javascript:void(0);" data-documentkey="{{ $resource.Document.Key }}" class="dropdown-item">删除</a>
                    </div>
                </div>
            </div>
        </div>
        {{ else }}
        <div class="listview__item">
            <a href="/document/new" class="btn btn-danger btn-block btn-lg">赶快创建一个表格吧</a>
        </div>
        {{ end }}
    </div>
</div>
<!-- End 小屏 -->
{{ end }}

{{ define "css"}}
{{ end }}

{{ define "js"}}
{{ end}}
